# Maven
/target
!.mvn/wrapper/maven-wrapper.jar

# Java
*.class
*.log

# IntelliJ
.idea/
*.iml

# VSCode
.vscode/

# Build folders
build/

# NetBeans, Eclipse, STS etc.
.nb-gradle/
nbbuild/
dist/
nbdist/
nbproject/
.classpath
.project
.settings/

# Mac OS
.DS_Store

# Exclude tests (whole folder)
src/test/
